USE [master]
GO
/****** Object:  Database [QuanLyCamDo]    Script Date: 5/11/2026 12:31:17 AM ******/
CREATE DATABASE [QuanLyCamDo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyCamDo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.K235480106032\MSSQL\DATA\QuanLyCamDo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyCamDo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.K235480106032\MSSQL\DATA\QuanLyCamDo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCamDo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCamDo]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyContract]    Script Date: 5/11/2026 12:31:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_CalcMoneyContract] (
    @MaHD INT,
    @TargetDate DATETIME
)
RETURNS MONEY
AS
BEGIN
    DECLARE @SoTienGoc MONEY;
    DECLARE @NgayLap DATETIME;
    DECLARE @DL1 DATETIME;
    DECLARE @TongNo MONEY = 0;
    DECLARE @LaiSuatNgay FLOAT = 0.005; -- 0.5% mỗi ngày

    -- Lấy thông tin hợp đồng
    SELECT @SoTienGoc = SoTienVayGoc, 
           @NgayLap = NgayLap, 
           @DL1 = Deadline1 
    FROM HopDong WHERE MaHD = @MaHD;

    -- Nếu TargetDate trước ngày lập (vô lý) thì trả về 0
    IF (@TargetDate < @NgayLap) RETURN 0;

    -- TRƯỜNG HỢP 1: Tính lãi đơn (Nếu TargetDate <= Deadline 1)
    IF (@TargetDate <= @DL1)
    BEGIN
        DECLARE @SoNgayVay INT = DATEDIFF(DAY, @NgayLap, @TargetDate);
        SET @TongNo = @SoTienGoc + (@SoTienGoc * @LaiSuatNgay * @SoNgayVay);
    END
    -- TRƯỜNG HỢP 2: Tính lãi kép (Nếu TargetDate > Deadline 1)
    ELSE
    BEGIN
        -- Bước A: Tính tổng nợ tại mốc Deadline 1 (Gốc + Lãi đơn tích lũy)
        DECLARE @SoNgayLaiDon INT = DATEDIFF(DAY, @NgayLap, @DL1);
        DECLARE @GocMoi MONEY = @SoTienGoc + (@SoTienGoc * @LaiSuatNgay * @SoNgayLaiDon);

        -- Bước B: Tính lãi kép từ Deadline 1 đến TargetDate
        DECLARE @SoNgayQuaHan INT = DATEDIFF(DAY, @DL1, @TargetDate);
        
        -- Công thức lãi kép: A = P * (1 + r)^n
        SET @TongNo = @GocMoi * POWER(1 + @LaiSuatNgay, @SoNgayQuaHan);
    END

    RETURN @TongNo;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyTransaction]    Script Date: 5/11/2026 12:31:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CalcMoneyTransaction] (
    @MaLog INT,
    @TargetDate DATETIME
)
RETURNS MONEY
AS
BEGIN
    DECLARE @MaHD INT;
    DECLARE @KetQua MONEY;

    -- Tìm mã hợp đồng từ bảng Log
    SELECT @MaHD = MaHD FROM TransactionLog WHERE MaLog = @MaLog;

    -- Sử dụng lại hàm CalcMoneyContract đã viết ở trên để tính toán
    SET @KetQua = dbo.fn_CalcMoneyContract(@MaHD, @TargetDate);

    RETURN @KetQua;
END;
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 5/11/2026 12:31:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[NgayLap] [datetime] NULL,
	[SoTienVayGoc] [money] NOT NULL,
	[Deadline1] [datetime] NOT NULL,
	[Deadline2] [datetime] NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/11/2026 12:31:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SDT] [varchar](15) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[CCCD] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiSan]    Script Date: 5/11/2026 12:31:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiSan](
	[MaTS] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[TenTaiSan] [nvarchar](200) NOT NULL,
	[GiaTriDinhGia] [money] NOT NULL,
	[TrangThaiTS] [nvarchar](50) NULL,
	[IsSold] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionLog]    Script Date: 5/11/2026 12:31:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionLog](
	[MaLog] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[NgayGiaoDich] [datetime] NULL,
	[SoTienTra] [money] NOT NULL,
	[NguoiThu] [nvarchar](100) NULL,
	[GhiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (N'Đang vay') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiSan] ADD  DEFAULT (N'Đang cầm cố') FOR [TrangThaiTS]
GO
ALTER TABLE [dbo].[TaiSan] ADD  DEFAULT ((0)) FOR [IsSold]
GO
ALTER TABLE [dbo].[TransactionLog] ADD  DEFAULT (getdate()) FOR [NgayGiaoDich]
GO
ALTER TABLE [dbo].[HopDong]  WITH NOCHECK ADD  CONSTRAINT [FK_HopDong_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HopDong] NOCHECK CONSTRAINT [FK_HopDong_KhachHang]
GO
ALTER TABLE [dbo].[TaiSan]  WITH CHECK ADD  CONSTRAINT [FK_TaiSan_HopDong] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
ALTER TABLE [dbo].[TaiSan] CHECK CONSTRAINT [FK_TaiSan_HopDong]
GO
ALTER TABLE [dbo].[TransactionLog]  WITH CHECK ADD  CONSTRAINT [FK_Log_HopDong] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
ALTER TABLE [dbo].[TransactionLog] CHECK CONSTRAINT [FK_Log_HopDong]
GO
ALTER TABLE [dbo].[HopDong]  WITH NOCHECK ADD CHECK  (([SoTienVayGoc]>(0)))
GO
ALTER TABLE [dbo].[HopDong]  WITH NOCHECK ADD CHECK  (([TrangThai]=N'Đã thanh lý tài sản' OR [TrangThai]=N'Đã thanh toán' OR [TrangThai]=N'Quá hạn' OR [TrangThai]=N'Đang vay'))
GO
ALTER TABLE [dbo].[TaiSan]  WITH CHECK ADD CHECK  (([TrangThaiTS]=N'Đã bán thanh lý' OR [TrangThaiTS]=N'Sẵn sàng thanh lý' OR [TrangThaiTS]=N'Đã trả khách' OR [TrangThaiTS]=N'Đang cầm cố'))
GO
/****** Object:  StoredProcedure [dbo].[sp_DangKyHopDong]    Script Date: 5/11/2026 12:31:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-----------------------------------------------------------
-- SP 1: ĐĂNG KÝ HỢP ĐỒNG (Tạo khách hàng & Hợp đồng)
-----------------------------------------------------------
CREATE PROCEDURE [dbo].[sp_DangKyHopDong]
    @HoTen NVARCHAR(100),
    @SDT VARCHAR(15),
    @DiaChi NVARCHAR(255),
    @CCCD VARCHAR(20),
    @SoTienVay MONEY,
    @KyHanNgay INT -- Ví dụ: 30 ngày
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @MaKH INT;
    DECLARE @MaHD INT;

    -- 1. Xử lý Khách hàng (Nếu chưa có thì thêm mới)
    IF EXISTS (SELECT 1 FROM KhachHang WHERE SDT = @SDT OR CCCD = @CCCD)
    BEGIN
        SELECT @MaKH = MaKH FROM KhachHang WHERE SDT = @SDT OR CCCD = @CCCD;
    END
    ELSE
    BEGIN
        INSERT INTO KhachHang (HoTen, SDT, DiaChi, CCCD)
        VALUES (@HoTen, @SDT, @DiaChi, @CCCD);
        SET @MaKH = SCOPE_IDENTITY();
    END

    -- 2. Tính toán các mốc Deadline
    DECLARE @NgayLap DATETIME = GETDATE();
    DECLARE @DL1 DATETIME = DATEADD(DAY, @KyHanNgay, @NgayLap);
    DECLARE @DL2 DATETIME = DATEADD(DAY, @KyHanNgay, @DL1);

    -- 3. Tạo Hợp đồng
    INSERT INTO HopDong (MaKH, NgayLap, SoTienVayGoc, Deadline1, Deadline2, TrangThai)
    VALUES (@MaKH, @NgayLap, @SoTienVay, @DL1, @DL2, N'Đang vay');
    
    SET @MaHD = SCOPE_IDENTITY();

    -- 4. Ghi Log khởi tạo (Audit Log)
    INSERT INTO TransactionLog (MaHD, NgayGiaoDich, SoTienTra, NguoiThu, GhiChu)
    VALUES (@MaHD, @NgayLap, 0, N'Hệ thống', N'Khởi tạo hợp đồng mới - Giải ngân: ' + CAST(@SoTienVay AS VARCHAR));

    -- Trả về mã HD vừa tạo để dùng cho việc thêm tài sản
    SELECT @MaHD AS MaHopDongVuaTao;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemTaiSanVaoHD]    Script Date: 5/11/2026 12:31:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-----------------------------------------------------------
-- SP 2: THÊM TÀI SẢN VÀO HỢP ĐỒNG
-----------------------------------------------------------
CREATE PROCEDURE [dbo].[sp_ThemTaiSanVaoHD]
    @MaHD INT,
    @TenTS NVARCHAR(200),
    @GiaTriDG MONEY
AS
BEGIN
    INSERT INTO TaiSan (MaHD, TenTaiSan, GiaTriDinhGia, TrangThaiTS)
    VALUES (@MaHD, @TenTS, @GiaTriDG, N'Đang cầm cố');
    
    PRINT N'Đã thêm tài sản: ' + @TenTS;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_XuLyTraNo]    Script Date: 5/11/2026 12:31:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_XuLyTraNo]
    @MaHD INT,
    @SoTienTra MONEY,
    @NguoiThu NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @TotalDebt MONEY;
    DECLARE @RemainingDebt MONEY;
    DECLARE @IsAnyAssetSold BIT;
    DECLARE @TongGiaTriTaiSanDangCam MONEY;

    -- 1. Kiểm tra trạng thái tài sản (Nếu đã bán thanh lý thì không thu tiền)
    -- Theo yêu cầu: Sau Deadline 2 và có cờ IsSold
    IF EXISTS (SELECT 1 FROM TaiSan WHERE MaHD = @MaHD AND IsSold = 1)
    BEGIN
        PRINT N'THÔNG BÁO: Tài sản của hợp đồng này đã bị thanh lý (đã bán). Hệ thống không thu tiền và không trả đồ.';
        RETURN;
    END

    -- 2. Tính tổng nợ hiện tại (dùng Function từ Event 2)
    SET @TotalDebt = dbo.fn_CalcMoneyContract(@MaHD, GETDATE());
    SET @RemainingDebt = @TotalDebt - @SoTienTra;

    -- 3. Ghi nhận vào LOG (Audit Log)
    INSERT INTO TransactionLog (MaHD, NgayGiaoDich, SoTienTra, NguoiThu, GhiChu)
    VALUES (@MaHD, GETDATE(), @SoTienTra, @NguoiThu, 
            N'Trả nợ. Tổng nợ tính đến nay: ' + FORMAT(@TotalDebt, 'N0') + 
            N'. Dư nợ còn lại: ' + FORMAT(IIF(@RemainingDebt > 0, @RemainingDebt, 0), 'N0'));

    -- 4. Xử lý logic thanh toán
    IF @RemainingDebt <= 0
    BEGIN
        -- Trường hợp: TRẢ HẾT NỢ
        UPDATE HopDong 
        SET TrangThai = N'Đã thanh toán' 
        WHERE MaHD = @MaHD;

        UPDATE TaiSan 
        SET TrangThaiTS = N'Đã trả khách' 
        WHERE MaHD = @MaHD AND TrangThaiTS = N'Đang cầm cố';

        PRINT N'KẾT QUẢ: Khách đã thanh toán đủ. Hợp đồng hoàn thành, toàn bộ đồ đã trả khách.';
    END
    ELSE
    BEGIN
        -- Trường hợp: CHƯA TRẢ HẾT (TRẢ GÓP)
        UPDATE HopDong 
        SET TrangThai = N'Đang trả góp' 
        WHERE MaHD = @MaHD;

        PRINT N'KẾT QUẢ: Đã ghi nhận số tiền trả. Hợp đồng chuyển sang trạng thái "Đang trả góp".';
        
        -- 5. Đưa ra danh sách gợi ý trả đồ (Dựa trên: Giá trị tài sản còn lại >= Dư nợ)
        SELECT @TongGiaTriTaiSanDangCam = SUM(GiaTriDinhGia) 
        FROM TaiSan 
        WHERE MaHD = @MaHD AND TrangThaiTS = N'Đang cầm cố';

        PRINT N'--- GỢI Ý TRẢ LẠI TÀI SẢN CHO KHÁCH ---';
        
        SELECT 
            MaTS, 
            TenTaiSan, 
            GiaTriDinhGia,
            (@TongGiaTriTaiSanDangCam - GiaTriDinhGia) AS GiaTriCacMonConLai,
            @RemainingDebt AS DuNoHienTai,
            CASE 
                WHEN (@TongGiaTriTaiSanDangCam - GiaTriDinhGia) >= @RemainingDebt 
                THEN N'CÓ THỂ TRẢ (An toàn)' 
                ELSE N'PHẢI GIỮ LẠI (Làm tài sản đảm bảo)' 
            END AS GoiY
        FROM TaiSan
        WHERE MaHD = @MaHD AND TrangThaiTS = N'Đang cầm cố';
    END
END;
GO
USE [master]
GO
